.head
        {
            height: 80%;
            width: 90%;
            margin: 1% 5%;
            display: flex;
            justify-content: space-between;
            z-index: 5;
        }
        .nav
        {
            gap: 8%;
            margin-top:0.5%;
            z-index: 5;
            display: flex;
        }
        .navlist:hover
        {
            color: green;
            transform: scale(1.25);
            transition:  0.7s all;
        }
        .heading
        {
            font-size: 200%;
        }
        .log{
           margin-top: 0.5%;
           z-index: 5;
           padding: 10px 15px;
           border: none;
           background-color: gold;
           color: black;
        }

