.inpu
{
    align-content: center;
    justify-content: center;
    gap: 30px;
    display: flex;
}
.inp1, .inp2
{
    display: block;
}
.in{
    background-color: gold;
    align-content: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
}
input
{
    width: 550px;
    height: 50px;
    padding: 10px 20px;
}

.apply
{
    padding: 20px 40px;
    margin: 30px 0px;
    color: gold;
    background-color: black;
    font-size: 20px;

}